---
import HeroComponent from "../components/HeroComponent.astro";
import Sidebar from "../components/Sidebar.astro";
import SectionOne from "../components/SectionOne.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Heading from "../components/Heading.astro";
const heroImage = "./assets/hero.svg";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <section class="landing">
            <HeroComponent image={heroImage} />

            <Sidebar />
        </section>

        <SectionOne />

        <Heading title="Categories" />
    </main>
</BaseLayout>

<style>
    .landing {
        display: grid;
        gap: 2rem;
        padding: 0.5rem;
        border-inline-end: 1px dashed var(--accent);
        border-block-end: 1px dashed var(--accent);
        position: relative;
    }

    .landing::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -5px;
        transform: rotate(90deg);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #000;
    }

    /* media queries */
    @media screen and (min-width: 678px) {
        .landing {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 0.5rem;
        }

        .landing::after {
            top: 50%;
        }
    }
</style>
