---
const { title } = Astro.props;
---

<div class="heading">
    <h3>{title}</h3>
</div>

<style>
    .heading {
        width: 70%;
        height: 20px;
        padding-inline: 0.8rem;
        padding-block: 1rem;
        background-color: var(--accent);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .heading h3 {
        white-space: nowrap;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.8rem;
    }
</style>
