<div class="logo">
    <a href="/"> <span>GUBI</span></a>
</div>

<style>
    .logo {
        z-index: 99999;
    }

    .logo a {
        text-decoration: none;
    }
    span {
        font-size: 1.5em;
    }
</style>
