---
import Heading from "./Heading.astro";
const allBlogPosts = await Astro.glob("../pages/blog/posts/*.md");

const featuredPosts = allBlogPosts.filter((post) => {
    return post.frontmatter.tags?.includes("featured");
});

console.log(featuredPosts);
---

<section class="section-one">
    <Heading title="Featured" />

    <div class="components">
        {
            featuredPosts.map((post) => {
                return (
                    <article>
                        <a href={post.url}>
                            <p>{post.frontmatter.title}</p>
                        </a>
                    </article>
                );
            })
        }
    </div>
</section>

<style>
    .section-one {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-inline-start: 1px dashed var(--accent);
        border-block-end: 1px dashed var(--accent);
    }

    .section-one .components {
        display: grid;
        gap: 0.5rem;
    }
    .section-one .components article {
        height: 150px;
        background-color: var(--secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 1rem;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* media queries  */
    @media screen and (min-width: 768px) {
        .section-one {
            padding-block-start: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .section-one .components {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;
        }
    }
</style>
