---
import Heading from "./Heading.astro";
const allBlogPosts = await Astro.glob("../pages/blog/posts/*.md");

const tags = {
    Popular: allBlogPosts.filter((post) =>
        post.frontmatter.tags?.includes("popular")
    ),
    "Editor Picks": allBlogPosts.filter((post) =>
        post.frontmatter.tags?.includes("editor")
    ),
};
---

<aside>
    {
        Object.entries(tags).map(([tag, posts]) => (
            <div class="components">
                <div class="heading-container">
                    <Heading title={tag} />
                </div>
                {posts.map((post) => (
                    <a href={post.url}>
                        <ul class="component">
                            <li>{post.frontmatter.title}</li>
                        </ul>
                    </a>
                ))}
            </div>
        ))
    }
</aside>

<style>
    aside {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
    .components {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    .heading-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .component {
        padding: 0.5rem;
        background-color: rgb(237, 239, 243);
        height: 100%;
        transform: scale(1);
        transition: all 0.5s ease;
        cursor: pointer;
        width: 100%;
        box-shadow: 1px 1px 2px rgba(34, 34, 34, 0.2);
    }

    .component li {
        color: var(--dark);
        font-size: 16px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    .component:hover {
        transform: scale(0.99);
    }
</style>
